<table>
<% var i; for(i=0; i < quizes.length; i++){ %>
  <tr>
    <td>
    <select name="tema">
    <%
      var selected = '';
      var temas = new Array('otro','humanidades','ocio','ciencia','tecnologia');
      for(var cont=0; i < temas.length; cont++){
        selected = (temas[cont] === quizes[i].tema) ? 'selected' : '' ;
    %>
      <option value="<%= temas[cont] %>" <%= selected %>><%= temas[cont] %></option>
    <%  } %>
    </td>
    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <td><a href="quizes/<%= quizes[i].id %>/edit"><button type="button">Editar</button></a></td>
    <td>
      <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar <%= quizes[i].pregunta %>');">Borrar</button>
      </form>
    </td>
  </tr>
<% } %>
</table>
<p>
  <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</p>
