<table>
<% var i; for(i=0; i < quizes.length; i++){ %>
  <tr>
    <td>
    <select name="tema">
<<<<<<< HEAD
      <option value="otro" selected>Otro</option>
      <option value="humanidades">Humanidades</option>
      <option value="ocio">Ocio</option>
      <option value="ciencia">Ciencia</option>
      <option value="tecnologia">Tecnología</option>
    </select>
=======
    <%
      var temas = new Array('otro','humanidades','ocio','ciencia','tecnologia');
      var cont;
      for(cont=0; i < temas.length; cont++){
    %>
      <option value="<%= temas[cont] %>"><%= temas[cont] %></option>
    <%  } %>
>>>>>>> parent of 4646c76... Indice temático (1.1)
    </td>
    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <td><a href="quizes/<%= quizes[i].id %>/edit"><button type="button">Editar</button></a></td>
    <td>
      <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar <%= quizes[i].pregunta %>');">Borrar</button>
      </form>
    </td>
  </tr>
<% } %>
</table>
<p>
  <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</p>
